@using Quickstart.Web.Extensions
@model Quickstart.Web.Models.Person

@section scripts
{
    <script type="text/javascript">
        var viewModel = ko.mapping.fromJS(@Html.Raw(Model.ToJson()));
        ko.applyBindings(viewModel);
    </script>
}

<h2>Dynamic Model Loading Sample</h2>

<div>
    <label>First Name:</label>
    <input type="text" data-bind="value:firstName"/>
</div>

<div>
    <label>Last Name:</label>
    <input type="text" data-bind="value: lastName"/>
</div>

<div>
    <label>Email Address:</label>
    <input type="text" data-bind="value: emailAddress"/>
</div>

<div>
    <label>Phone Number:</label>
    <input type="text" data-bind="value: phoneNumber"/>
</div>

<div>
    <label>Date of Birth:</label>
    <input type="text" data-bind="value: dateOfBirth"/>
</div>