<h2>Samples</h2>

<ul>
    <li>@Html.ActionLink("Simple Model Loading", "SimpleModelLoading")</li>
    <li>@Html.ActionLink("Dynamic Model Loading", "DynamicModelLoading")</li>
    <li>@Html.ActionLink("Dynamic Model Loading With Client-Side Functions", "DynamicModelLoadingWithClientSideFunctions")</li>
    <li>@Html.ActionLink("Ajax Model Loading", "AjaxModelLoading")</li>
</ul>
