<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ASP.NET & KnockoutJS Quickstart Samples</title>
    <script type="text/javascript" src="/Scripts/knockout-2.2.0.js"></script>
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
